ANTHROPIC_KEY=sk-ant-api03-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
HG_KEY=9ca1cb51
TICKERS=PETR4,VALE3,ITUB4,BBDC4,WEGE3,MGLU3,SUZB3,RENT3,BBAS3
